#earthtones-title {
  font-size: 64px;
  letter-spacing: 3px;
  font-family: 'Alegreya Sans SC', sans-serif;
  color: gainsboro;
  text-align: center;
  margin: 0 20px 5px 20px;
}
#earthtones-subtitle {
  font-size: 24px;
  letter-spacing: 3px;
  font-family: 'Alegreya Sans SC', sans-serif;
  color: gainsboro;
  text-align: center;
  margin: 0 20px 20px 20px;
}


#info {
  text-align: center;
  color:gainsboro;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 1.2em;
}

.notification-form {
  width: 33vw;
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: space-evenly;
}
.notification-form input {
  display: block;
}
.notification-form input[type=text]{
  padding: 10px;
  border-radius: 4px;
  border: 0px;
}
.notification-form input[type=submit] {
  background-color: #ff6565;
  border: 0px;
  border-radius: 4px;
  padding: 10px 30px;
  color: white;
}

#container {
  display: flex;
  height: 100%;
  width: 100%;
}

.left {
  /*flex: 0 0 65%;*/
  width: 66vw;
}

.right {
  /*flex: 1;*/
  width: 33vw;
  display: flex;
  flex-direction: column;
}

#info-panel {
  background-color: #474747;
  justify-content: right;
}

#map {
  height:inherit;
  width:inherit;
}
#map-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
}
  /* Optional: Makes the sample page fill the window. */
  html, body {
    background-color: #474747;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  hr {
    width:100%;
    border: 0;
    height: 1px;
   /* background: #333;*/
    background-image: linear-gradient(to right, #474747, gainsboro, #474747);
}